.navbar {
    width: 100%;
    height: 100px;
    position:sticky;
    top: 0;
    background: #21325e;
    z-index: 500;
  
}


.links {
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #21325e;
   
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;

  }
  .navbar a:hover
  {
    color: rgb(193, 191, 191);
  }
  .navbar a:active
  {
    color: black;
  }

  
  .toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleButton svg {
    font-size: 50px;
  }

  .toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

  #open {
    height: 100vh;
  }
  
  #open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    
  }
  
  #open a:not(.resume) {
    width: 100%;
    text-align: center;
  }
.resume{
	position:fixed;
	width:150px;
	height:45px;
  padding: 8px 5px;
  font-size: 21px;
	top:0.5%;
	left:100px;
	background:#04AA6D;
	color:rgb(255, 255, 255);
	border-radius:50px;
	box-shadow: 2px 2px 3px #999;
  text-decoration: none;
  z-index: 500;
}

.resume:hover {
  background-color: #3e8e41
}

.resume:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  

  @media only screen and (max-width: 900px) {
    .navbar a:not(.resume) {
      width: 70px;
    }
    .resume{
       left: 0%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .toggleButton {
      display: flex;
    }
    #close a:not(.resume) {
      display: none;
    }
    .resume{
      left: 0%;
    }
    .links {
      height: 1px;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .toggleButton {
      display: none; 
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links {
      flex-direction: row;
    }
    
  }